.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #f5f5f5;
    min-height: 80vh;
    position: relative;
  }
  
  .hero-content {
    max-width: 50%;
    animation: fadeInLeft 1.5s ease-in-out;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    color: #03AED2;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .hero-button {
    background-color: #03AED2;
    color: bisque;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 0.5rem;
  }
  
  .hero-button:hover {
    background-color: #0288a1;
    transform: scale(1.05);
  }
  
  .hero-image {
    max-width: 50%;
    animation: fadeInRight 1.5s ease-in-out;
  }
  
  .hero-image img {
    width: 100%;
    border-radius: 0.5rem;
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @media (max-width: 768px) {
    .hero-section {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-content,
    .hero-image {
      max-width: 100%;
    }
  
    .hero-content {
      margin-bottom: 2rem;
    }
  
    .hero-button {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }
  