.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #03AED2;
    color: bisque;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 2rem;
  }

  .navbar-logo img {
    height: 5rem;
    border-radius: 0.5rem;
  }
  
  .nav-menu {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    align-items: center;
  }
  
  .nav-link {
    color: bisque;
    text-decoration: solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .nav-link:hover {
    transform: scale(1.1);
    background-color: #68D2E8;
  }
  
  .nav-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 1rem;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 2rem;
    height: 0.1rem;
    background-color: beige;
    transition: all 0.3s;
  }
  
  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
  }
  
  .hamburger::before {
    transform: translateY(-8px);
  }
  
  .hamburger::after {
    transform: translateY(8px);
  }
  
  .hamburger.active {
    background-color: transparent;
  }

  @media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #03AED2;
      border-radius: 0.5rem;
      text-align: center;
    }
  
    .nav-menu.active {
      display: flex;
      margin-right: 0;
      margin-top: 10px;
      width: 100vh;
    }
  
    .nav-icon {
      display: flex;
      margin-top: 1rem;
    }
  }
  